* {
    margin: 0;
    padding: 0;
}

nav {
    box-sizing: border-box;
    background-color: #c1c1c1;
}


ul {
    list-style-type: none;
    font-family: "Work Sans";
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px;
}

ul a:hover {
    color: #3B94D9;
}

#logo {
    font-size: 3em;
    padding: .2em 0;
    font-family: "Montserrat";
    flex-basis: 60%;
    text-align: center;

}


.container {
    display: flex;
    align-items: center;
}

.list_one {
    display: flex;
    flex-basis: 20%;

}

.list_two {
    display: flex;
    flex-basis: 20%;
    justify-content: flex-end;
}


