.fancy-header {
    color: purple;
}

header {
    text-align: center;
}

h1,h2,h3 {
    text-decoration: underline;
}

body {
    background-color: #CEFFFF;
    background-image: url("/img/welcome-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
}

.about-us {
    background-color: lightgrey;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
}

.about-us:after {
    content: "";
    clear: both;
    display: block;
}

ul, ol {
    float: left;
    width: 29%;
    margin: 1%;
    padding: 1%;
    background-color: white;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

.vision {
    text-align: center;
}

table, td, tr {
    padding: 20px;
    border: solid black;
    font-size: 30px;
    margin: 1% auto;
}

table>caption {
    text-align: center;
}

footer {
    float: right;
}

nav {
    clear: right;
    float: right;
    margin-bottom: 2%;
}

a:link {
    color:blue;
}

a:visited {
    color:purple;
}

a:hover {
    color: red;
}

a:active {
    color:green;
}



